<header class="d-flex justify-content-center">
    <div class="container-fluid bg-light">
<table width="100%">
    <tr>
        <td rowspan="5"><img src="{{ asset('images/logo_TSM.PNG') }}" height="200"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="font-family: 'Apple Chancery',cursive; font-size: 20px; color: #afa4ce">Vos cheveux, notre expertise</td>
        <td><img src="{{ asset('images/sac-de-courses.png') }}" height="30"></td>
        <td><img src="{{ asset('images/connexion.png') }}" height="30"></td>
    </tr>
    <tr>
        <td style="font-family: 'Apple Chancery',cursive; font-size: 15px; color: #afa4ce">Nos superbes recettes maison</td>
        <td style="font-size: 10px">Mon Panier</td>
        <td style="font-size: 10px">Se connecter</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
    <ul class="nav nav-pills" style="background-color: #afa4ce ; color: #FFFFFF; justify-content: center">
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos Actus</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos produits phares</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos conseils de grand-mère</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos superbes recettes</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">A propos de vous</a></li>
    </ul>
    </div>
</header>
