<header class="d-flex justify-content-center py-3" style="background-color: #BEADC6 ; color: #FFFFFF">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link">Nos Actus</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Nos produits phares</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Nos conseils de grand-mère</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Nos superbes recettes</a></li>
        <li class="nav-item"><a href="#" class="nav-link">A propos de vous</a></li>
    </ul>
</header>