<header class="d-flex justify-content-center py-3">
    <div class="container-fluid fixed-top bg-light">
        <ul class="nav nav-pills" style="background-color: #FFFFFF ; justify-content: center">
            <li class="nav-item"><a href="#" class="nav-link" style="color: #A9A9A9;">Nos Actus</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #A9A9A9;">Nos produits phares</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #A9A9A9;">Nos conseils de grand-mère</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #A9A9A9;">Nos superbes recettes</a></li>
            <li class="nav-item"><a href="#" class="nav-link" style="color: #A9A9A9;">A propos de vous</a></li>
        </ul>

    <ul class="nav nav-pills" style="background-color: #BEADC6 ; color: #FFFFFF; justify-content: center">
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos Actus</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos produits phares</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos conseils de grand-mère</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">Nos superbes recettes</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #FFFFFF;">A propos de vous</a></li>
    </ul>
    </div>
</header>
