{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <br>
    <div style="padding-left: 20px; padding-right: 20px;" align="center">
    <div style="font-family: 'Kaushan Script', cursive; color: #afa4ce; font-size: 30px;">Création compte</div>

        <br>
    {{ include('member/_form.html.twig') }}

    </div>

    <br>
{% endblock %}
