{% extends 'base.html.twig' %}

{% block title %}Hello GrandmasAdviceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .advice { font-family: Lalezar; color: #afa4ce; }
    a { color : mediumpurple; }
    .advice-block { font-family: 'Indie Flower'; font-size: 20px; color: #000000; text-align: justify; }
    .advice-block-padding { padding-left: 120px; padding-right: 120px; padding-top: 20px; padding-bottom: 20px;}
    .advice-title { font-family: 'Inter'; font-size: 22px; color: #afa4ce; text-align: center; }
</style>

    <table>
        <tr>
            <td rowspan="5" style="font-family: 'Kaushan Script', cursive; font-size: 15px; color: #000000; background-color: #D9D9D9; padding-left: 20px; padding-right: 20px; vertical-align: top;">
                <br>
                pousse rapide
                <hr>
                fortifier et épaisir
                <hr>
                donner de l'éclat et de la brillance
                <hr>
                se débarasser des pellicules
                <hr>
                cheveux gras
                <hr>
                cheveux secs
                <hr>
                protéger ses cheveux la nuit
                <hr>
                cheveux démelés
                <hr>
                parfumer ses cheveux
                <hr>
                les habitudes à banir
                <hr>
                éviter les poux
                <hr>
                éviter les frisotis
                <hr>
            </td>
            <td width="82%" class="advice-block-padding">
                <div style="font-family: 'Kaushan Script', cursive; font-size: 34px; color: #000000; text-align: center; padding-bottom: 20px;">Plongez dans les secrets transmis de génération en génération, pour une chevelure resplendissante grâce à la sagesse héritée de nos aieules</div>
            </td>
        </tr>
        <tr>
            <td class="advice-block-padding">
                <p class="advice-title">LA POUSSE RAPIDE</p>
                <div class="advice-block">
                    Voici 6 astuces pour limiter la chute de cheveux et la vivre la plus sereinement:
                    <br>
                    <ol>
                        <li>
                            <span class="advice">Bois assez d’eau </span>car la santé des cheveux commence par l’intérieur !
                        </li>
                        <li>
                            <span class="advice">Nourris-toi bien</span>, de façon <span class="advice">équilibrée</span> pour <span class="advice">éviter d’être carencée</span> (notamment en fer). Comme pour l’eau, l’alimentation joue un rôle sur la santé, la beauté et la pousse des bouclettes !
                        </li>
                        <li>
                            Pour <span class="advice">compléter ton alimentation équilibrée</span>, tu peux faire une cure de Compléments Alimentaires comme la cure Mama de Madame La Présidente, la cure de gummies ou gélules de In Haircare, ou encore la cure Mon Coup de Pousse de Omum.
                        </li>
                        <li>
                            <span class="advice">Dors quand tu le peux</span> (je sais que ce n’est pas évident du tout mais le sommeil joue aussi sur la santé des cheveux).
                        </li>
                        <li>
                            <span class="advice">Masse ton cuir chevelu</span>, du bout des doigts propres ou avec <span class="advice">la <a href="https://cutbyfred.com/products/scalp-brush?variant=41549974077633&currency=EUR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gad_source=1&gclid=Cj0KCQjwhtWvBhD9ARIsAOP0Goi8EeTbNUYO9QqYWtc90Q0-DH6ylaAfCIYI8KPGrtpmhmJ4c_se19QaAtkWEALw_wcB">Stimulating Scalp Brush</a> de Cut By Fred</span> pour stimuler les racines :            1) sans produit ou avec une petite noisette de Gel d’Aloe Vera 5 minutes plusieurs fois par semaine et/ou 2) 1 à 2 fois par mois (et au moins 30min avant ton shampoing), avec une petite noisette d’Huile Végétale d’Avocat préalablement réchauffée dans le creux de tes mains. L’huile d’avocat limite la chute, stimule la pousse, apaise le cuir chevelu et fortifie les longueurs/pointes.
                        </li>
                        <li>
                            <span class="advice">Utilise une routine douce et saine</span> pour ne pas agresser ton cuir chevelu et ne fais <span class="advice">pas de lavage trop fréquent</span> (2 shampoings par semaine c’est top).
                        </li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td class="advice-block-padding">
                <p class="advice-title">FORTIFIER ET ÉPAISSIR</p>
                <div class="advice-block">
                    <ol>
                        <li>
                            <span class="advice">Les traitements à base de protéines</span>, comme les masques capillaires enrichis en kératine, aident à reconstruire les fibres capillaires endommagées, les fortifiant et contribuant à un aspect plus épais. Utilisez ces soins protéinés une à deux fois par mois selon les besoins de vos cheveux.
                        </li>
                        <li>
                            <span class="advice">Une alimentation équilibrée</span>, riche en vitamines (A, C, D, E, et les B-complexes) et minéraux (fer, zinc, magnésium), soutient la santé du cuir chevelu et favorise la croissance de cheveux plus épais. Des aliments comme le saumon, les œufs, les épinards, et les baies sont excellents pour la santé des cheveux.
                        </li>
                        <li>
                            <span class="advice">Éviter les produits chimiques agressifs </span>: Réduisez l'utilisation de colorants, décolorants, et produits de styling à base de produits chimiques qui peuvent affaiblir les cheveux et conduire à leur amincissement. Optez pour des <span class="advice">produits capillaires naturels</span> ou doux.
                        </li>
                        <li>
                            <span class="advice">Utilisez des élastiques doux</span> sans métal et <span class="advice">évitez les coiffures trop serrées</span>. Lors du coiffage, préférez des techniques qui ne tirent pas ou n'alourdissent pas inutilement les cheveux.
                        </li>
                        <li>
                            <span class="advice">Minimiser l'utilisation de la chaleur </span>: La chaleur excessive des sèche-cheveux, lisseurs, et fers à boucler peut endommager les cheveux. Lorsque vous utilisez ces outils, appliquez toujours un <span class="advice">protecteur de chaleur</span> et gardez l'appareil à une température basse ou moyenne.
                        </li>
                        <li>
                            <span class="advice">Couper régulièrement vos cheveux</span> (tous les 10-12 semaines) aide à éliminer les fourches et prévient la casse, permettant ainsi à vos cheveux de paraître plus épais et en meilleure santé.
                        </li>
                        <li>
                            <span class="advice">Hydratation et soins profonds </span>: Des cheveux bien hydratés sont moins susceptibles de se casser. Utilisez des masques hydratants et des traitements en profondeur pour maintenir vos cheveux nourris et résistants.
                        </li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td class="advice-block-padding">
                <p class="advice-title">DONNER DE L'ÉCLAT ET DE LA BRILLANCE</p>
                <div class="advice-block">
                    <ol>
                        <li>
                            Terminez chaque lavage par un <span class="advice">rinçage à l'eau froide</span>. Cela aide à fermer les cuticules des cheveux, rendant les cheveux plus lisses et reflétant mieux la lumière, ce qui les fait briller.
                        </li>
                        <li>
                            Les <span class="advice">huiles naturelles </span>telles que l'huile d'argan, de jojoba, ou de noix de coco peuvent être appliquées en petite quantité sur les pointes et les longueurs pour nourrir les cheveux et leur donner un éclat naturel sans les alourdir.
                        </li>
                        <li>
                            Intégrez dans votre routine hebdomadaire des <span class="advice">masques capillaires </span>qui hydratent en profondeur et réparent les cheveux, leur donnant ainsi un aspect sain et brillant.
                        </li>
                        <li>
                            <span class="advice">Les acides gras oméga-3 </span>nourrissent les follicules capillaires, favorisant des cheveux luisants et en bonne santé.
                        </li>
                        <li>
                            <span class="advice">Protéger les cheveux du soleil </span>: L'exposition excessive au soleil peut ternir et endommager vos cheveux. Utilisez des produits capillaires contenant des <span class="advice">filtres UV</span> ou portez un chapeau pour protéger vos cheveux des rayons nocifs.
                        </li>
                        <li>
                            Un rinçage occasionnel avec du <span class="advice">vinaigre de cidre de pomme </span>peut enlever les résidus de produits capillaires, équilibrer le pH du cuir chevelu, et augmenter la brillance des cheveux. Diluez le vinaigre avec de l'eau (une partie de vinaigre pour quatre parties d'eau) et rincez vos cheveux avec cette solution après le shampoing.
                        </li>
                        <li>
                            <span class="advice">Un peigne en bois </span>peut aider à distribuer les huiles naturelles du cuir chevelu jusqu'aux pointes des cheveux, augmentant leur brillance et réduisant l'électricité statique.
                        </li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td class="advice-block-padding">
                <p class="advice-title">SE DÉBARASSER DES PELLICULES</p>
                <div class="advice-block">
                    <ol>
                        <li>
                            Optez pour des <span class="advice">shampoings contenant des ingrédients actifs </span>tels que le pyrithione zinc, le goudron de houille, le sulfure de sélénium ou le kétoconazole.
                        </li>
                        <li>
                            <span class="advice">Lavez vos cheveux régulièrement </span>pour éviter l'accumulation de sébum, qui peut favoriser la croissance des levures responsables des pellicules.
                        </li>
                        <li>
                            Utilisez des produits capillaires contenant <span class="advice">de l'huile de théier</span>, connue pour ses propriétés antifongiques et antibactériennes, qui peuvent aider à combattre les pellicules.
                        </li>
                        <li>
                            Utilisez un <span class="advice">exfoliant doux pour le cuir chevelu </span>ou une <span class="advice">brosse de massage </span>pour éliminer les cellules mortes de la peau et réduire les pellicules.
                        </li>
                        <li>
                            <span class="advice">Éviter les produits capillaires irritants </span>: Certains produits peuvent irriter le cuir chevelu et aggraver les pellicules. Évitez les produits contenant de l'alcool ou des parfums forts.
                        </li>
                        <li>
                            Le stress peut aggraver les pellicules, donc <span class="advice">trouver des méthodes efficaces pour gérer le stress</span> peut aider à réduire leur apparition.
                        </li>
                    </ol>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
