{% extends 'base.html.twig' %}

{% block title %}Hello GrandmasAdviceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .advice { font-family: Lalezar; color: #afa4ce; }
</style>

    <table>
        <tr>
            <td rowspan="3" style="font-family: 'Kaushan Script', cursive; font-size: 15px; color: #000000; background-color: #D9D9D9; padding-left: 20px; padding-right: 20px; vertical-align: top;">
                <br>
                pousse rapide
                <hr>
                fortifier et épaisir
                <hr>
                donner de l'éclat et de la brillance
                <hr>
                se débarasser des pellicules
                <hr>
                cheveux gras
                <hr>
                cheveux secs
                <hr>
                protéger ses cheveux la nuit
                <hr>
                cheveux démelés
                <hr>
                parfumer ses cheveux
                <hr>
                les habitudes à banir
                <hr>
                éviter les poux
                <hr>
                éviter les frisotis
                <hr>
            </td>
            <td width="82%">
                <div style="font-family: 'Kaushan Script', cursive; font-size: 28px; color: #000000; text-align: center;">Plongez dans les secrets transmis de génération en génération, pour une chevelure resplendissante grâce à la sagesse héritée de nos aieules</div>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;">
                <p style="font-family: 'Inter'; font-size: 22px; color: #afa4ce; text-align: center;">LA POUSSE RAPIDE</p>
                <div style="font-family: 'Indie Flower'; font-size: 20px; color: #000000; text-align: justify;">
                    Voici 7 astuces pour limiter la chute de cheveux et la vivre la plus sereinement:
                    <br>
                    <ol>
                        <li>
                            <span class="advice">Bois assez d’eau </span>car la santé des cheveux commence par l’intérieur !
                        </li>
                        <li>
                            <span class="advice">Nourris-toi bien</span>, de façon <span class="advice">équilibrée</span> pour <span class="advice">éviter d’être carencée</span> (notamment en fer). Comme pour l’eau, l’alimentation joue un rôle sur la santé, la beauté et la pousse des bouclettes !
                        </li>
                        <li>
                            Pour <span class="advice">compléter ton alimentation équilibrée</span>, tu peux faire une cure de Compléments Alimentaires comme la cure Mama de Madame La Présidente, la cure de gummies ou gélules de In Haircare, ou encore la cure Mon Coup de Pousse de Omum.
                        </li>
                        <li>
                            <span class="advice">Dors quand tu le peux</span> (je sais que ce n’est pas évident du tout mais le sommeil joue aussi sur la santé des cheveux).
                        </li>
                        <li>
                            <span class="advice">Masse ton cuir chevelu</span>, du bout des doigts propres ou avec <span class="advice">la <a href="https://cutbyfred.com/products/scalp-brush?variant=41549974077633&currency=EUR&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gad_source=1&gclid=Cj0KCQjwhtWvBhD9ARIsAOP0Goi8EeTbNUYO9QqYWtc90Q0-DH6ylaAfCIYI8KPGrtpmhmJ4c_se19QaAtkWEALw_wcB">Stimulating Scalp Brush</a> de Cut By Fred</span> pour stimuler les racines :            1) sans produit ou avec une petite noisette de Gel d’Aloe Vera 5 minutes plusieurs fois par semaine et/ou 2) 1 à 2 fois par mois (et au moins 30min avant ton shampoing), avec une petite noisette d’Huile Végétale d’Avocat préalablement réchauffée dans le creux de tes mains. L’huile d’avocat limite la chute, stimule la pousse, apaise le cuir chevelu et fortifie les longueurs/pointes.
                        </li>
                        <li>
                            <span class="advice">Utilise une routine douce et saine</span> pour ne pas agresser ton cuir chevelu et ne fais <span class="advice">pas de lavage trop fréquent</span> (2 shampoings par semaine c’est top).
                        </li>
                    </ol>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px; padding-right: 20px;">
                <p style="font-family: 'Inter'; font-size: 22px; color: #afa4ce; text-align: center;">FORTIFIER ET ÉPAISSIR</p>
                <div style="font-family: 'Indie Flower'; font-size: 20px; color: #000000; text-align: justify;">
                    <span class="advice">ÉTAPE 1</span> - Huile de coco et ail<br>
                    Ingrédients : <br>
                    3-4 gousses d'ail <br>
                    60 ml d'huile de coco chaude <br>
                    <br>
                    Hacher l'ail et le mélanger avec de l'huile de coco chaude.<br>
                    Laisser refroidir le mélange.<br>
                    Ensuite, appliquez-le sur vos cheveux et le cuir chevelu et laissez-le sur les cheveux pendant une nuit. Le lendemain matin, lavez-vous les cheveux.<br>
                    <br>
                    <span class="advice">ÉTAPE 2</span> - Jus d'oignon<br>
                    Ingrédients : 1 ou 2 oignons de taille moyenne <br>
                    <br>
                    Râper l'oignon et presser le jus de celui-ci. <br>
                    Appliquez le jus d'oignon sur vos cheveux et laissez-le fonctionner pendant 15 à 20 minutes. <br>
                    Ensuite, lavez vos cheveux normalement en utilisant votre shampooing et revitalisant régulier. <br>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
