.custom-form {
    background-color: rgba(175, 164, 206, 0.25);
    padding: 20px;
    border-radius: 15px;
    width: 1000px;
}

.custom-form input[type="text"],
.custom-form select {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.custom-button {
    background-color: #afa4ce;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
    font-size: 15px;
}
