{% extends 'base.html.twig' %}

{% block title %}Edit PhysicalTraits{% endblock %}

{% block body %}
    <h1>Edit PhysicalTraits</h1>

    {{ include('physical_traits/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_physical_traits_index') }}">back to list</a>

    {{ include('physical_traits/_delete_form.html.twig') }}
{% endblock %}
