{% extends 'base.html.twig' %}

{% block title %}New PhysicalTraits{% endblock %}

{% block body %}
    <br>
    <div style="padding-left: 20px; padding-right: 20px;" align="center">
        <div style="font-family: 'Kaushan Script', cursive; color: #afa4ce; font-size: 30px;">Quelle est la coupe parfaite pour vous ?</div>

        <br>
        {{ include('physical_traits/_form.html.twig') }}

    </div>

    <br>
{% endblock %}
